.aboutOurBeans-inner{
    width: 697px;
    height: 355px;
    display: flex;
    margin: 0 auto;
    gap: 79px;
    margin-top: 70px;
    font-family: Merienda;
    h3{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 14px;
    }
}

.line{
    text-align: center;
    margin-top: 60px;
}